##/////////////////////////////////////////////////////////////////////
##Mule start script Template.
##@author Fady
##@version 0.1
##/////////////////////////////////////////////////////////////////////
##
<?xml version="1.0" encoding="UTF-8"?>
<project basedir="${generateBaseDir}" default="start.Mule" name="MuleRun">
    <target name="start.Mule">

        <property environment="env"/>
        <property name="mule.home" value="${env.MULE_HOME}"/>
        <property name="conf.file" value="file:///${targetMuleConfigDir}/${configFileName}"/>
        <echo>Starting Mule server from: ${env.MULE_HOME}</echo>
        <echo>With configuration file: ${conf.file}</echo>

        <java classname="org.mule.MuleServer"
                fork="true"
                failonerror="true"
        >
            <arg value="-config"/>
            <arg value="${conf.file}"/>
            <classpath>
                <dirset dir="${basedir}/conf"/>
#foreach ($muleStartupPathElement in $muleComponent.muleStartupPathElements)
                <pathelement location="$muleStartupPathElement"/>
#end
                <dirset dir="${targetBinDir}"/>
#if($targetBinDir != $custBinDir)
                <dirset dir="${custBinDir}"/>
#end
#if (${targetPropDir})
                <dirset dir="${targetPropDir}"/>
#end
                <fileset dir="${basedir}" includes="lib/*.jar" />
                <fileset dir="${basedir}" includes="lib/user/*.jar" />
                <fileset dir="${basedir}" includes="lib/opt/*.jar" />
                <fileset dir="${basedir}" includes="lib/mule/*.jar" />
                <fileset dir="${mule.home}" includes="lib/mule/*.jar" />
                <fileset dir="${mule.home}" includes="lib/user/*.jar" />
                <fileset dir="${mule.home}" includes="lib/opt/*.jar" />
            </classpath>
        </java>

    </target>
</project>