<!-- Make file for a Cixs Mule component -->
<cixstarget name="${targetName}" targetDir="${targetSrcDir}">
	<cixstemplate name="vlc/cixsmule-component-interface.vm" targetFile="${muleComponent.interfaceClassName}.java"/>
    <cixstemplate name="vlc/cixsmule-component-implementation.vm" targetFile="${muleComponent.implementationClassName}.java"/>
#foreach($cixsOperation in $muleComponent.cixsOperations)    
    <cixstemplate name="vlc/cixsmule-component-exception.vm" targetFile="${cixsOperation.faultType}.java">
        <operation value="${cixsOperation.name}"/>
    </cixstemplate>
#if($cixsOperation.getInput().size() > 1)
    <cixstemplate name="vlc/cixsmule-component-holder.vm" targetFile="${cixsOperation.requestHolderType}.java">
        <operation value="${cixsOperation.name}"/>
        <mode value="input"/>
    </cixstemplate>
#end
#if($cixsOperation.getOutput().size() > 1)
    <cixstemplate name="vlc/cixsmule-component-holder.vm" targetFile="${cixsOperation.responseHolderType}.java">
        <operation value="${cixsOperation.name}"/>
        <mode value="output"/>
    </cixstemplate>
#end
#end
</cixstarget>