##/////////////////////////////////////////////////////////////////////
##Mule Operation Fault Information Velocity Template.
##@author Fady
##@version 0.1
##/////////////////////////////////////////////////////////////////////
#if(${operationPackageName})
package ${operationPackageName};
#end

public class ${cixsOperation.faultType} extends Exception {
    
    private static final long serialVersionUID = ${serialVersionID};

    public ${cixsOperation.faultType}(String message) {
        super(message);
    }
    
    public ${cixsOperation.faultType}(Exception e) {
        super(e);
    }

}
