##/////////////////////////////////////////////////////////////////////
##Mule Operation Host Byte Array to Object transformer Template.
##@author Fady
##@version 0.1
##/////////////////////////////////////////////////////////////////////
#if(${operationPackageName})
package ${operationPackageName};
#end
import org.mule.providers.legstar.i18n.LegstarMessages;
import org.mule.providers.legstar.transformers.AbstractLegStarTransformer;
import org.mule.umo.transformer.TransformerException;
import org.mule.umo.UMOEventContext;

import com.legstar.messaging.HostMessageFormatException;
import com.legstar.messaging.LegStarMessage;
import com.legstar.messaging.impl.LegStarMessageImpl;
#if($propertyName == "Request")
#set($holderType = ${cixsOperation.requestHolderType})
#set($cixsStructures = ${cixsOperation.getInput()})
#else
#set($holderType = ${cixsOperation.responseHolderType})
#set($cixsStructures = ${cixsOperation.getOutput()})
#end
#set($transformerType = "HostByteArrayTo${holderType}")

#set($containers = false)
#foreach($cixsStructure in $cixsStructures)
#if(!$cixsStructure.cicsContainer)
import ${helper.getQualClassName(${cixsStructure.jaxbPackageName}, ${cixsStructure.jaxbType})};
#else
#set($containers = true)
#end
import ${helper.getQualClassName(${cixsStructure.coxbPackageName}, ${cixsStructure.coxbType})};
#end


/**
 * LegStar/Mule Operation Host Byte Array to $holderType Transformer.
 * 
 * <code>${transformerType}</code> takes a a byte array in host format
 * (EBCDIC) coming from a source Mainframe as input and turns it into
 * a $holderType object.
 * 
 * This class was generated by ${generatorName}.
 * Generated on $formattedDate
 */
public class ${transformerType} extends AbstractLegStarTransformer {

    /**
     * Constructs the transformer. Source is a byte array and result will be
     * a $holderType object.
     */
    public ${transformerType}() {
        registerSourceType(byte[].class);
        registerSourceType(LegStarMessage.class);
        setReturnClass(${holderType}.class);
    }

    /** {@inheritDoc} */
    public Object transform(
            final Object src,
            final String encoding,
            final UMOEventContext context) throws TransformerException {

        try {
            LegStarMessageImpl legstarMessage =
                getLegStarMessageForByteArray(src, encoding, context);

#if($containers)
            /* Create the holder binding object */
            ${holderType} holder = new ${holderType}();
            
#end
            /* Create binding objects and populate their inner java object */
#foreach($cixsStructure in $cixsStructures)
#set($bindingName = "${cixsStructure.jaxbFieldName}Binding")
#set($jaxbType = "${cixsStructure.jaxbType}")
            ${cixsStructure.coxbType} $bindingName =
                new ${cixsStructure.coxbType}();
#if($cixsStructure.cicsContainer)
            legstarMessage.getBindingFromPart(
                    ${bindingName}, getHostCharset(), "${cixsStructure.cicsContainer}");
            holder.set${cixsStructure.jaxbPropertyName}(${bindingName}.get${jaxbType}());
            
#else
            legstarMessage.getBindingFromPart(
                    ${bindingName}, getHostCharset(), null);
                    
#end
#end
#if($containers)
            return holder;
#else
            return ${bindingName}.get${jaxbType}();
#end
        } catch (HostMessageFormatException e) {
            throw new TransformerException(
                    LegstarMessages.errorReceivingHostData(), this, e);
        }
    }

}
