##/////////////////////////////////////////////////////////////////////
##Mule Operation Object to Host Byte Array transformer Template.
##@author Fady
##@version 0.1
##/////////////////////////////////////////////////////////////////////
#if(${operationPackageName})
package ${operationPackageName};
#end
import org.mule.providers.legstar.i18n.LegstarMessages;
import org.mule.providers.legstar.transformers.AbstractLegStarTransformer;
import org.mule.providers.legstar.transformers.LegStarMessageToByteArray;
import org.mule.umo.transformer.TransformerException;
import org.mule.umo.UMOEventContext;

import com.legstar.messaging.HostMessageFormatException;
import com.legstar.messaging.LegStarMessage;
import com.legstar.messaging.impl.LegStarMessageImpl;
#if($propertyName == "Request")
#set($holderType = ${cixsOperation.requestHolderType})
#set($cixsStructures = ${cixsOperation.getInput()})
#else
#set($holderType = ${cixsOperation.responseHolderType})
#set($cixsStructures = ${cixsOperation.getOutput()})
#end
#set($transformerType = "${holderType}ToHostByteArray")

#foreach($cixsStructure in $cixsStructures)
#if(!$cixsStructure.cicsContainer)
import ${helper.getQualClassName(${cixsStructure.jaxbPackageName}, ${cixsStructure.jaxbType})};
#end
import ${helper.getQualClassName(${cixsStructure.coxbPackageName}, ${cixsStructure.coxbType})};
#end


/**
 * LegStar/Mule Operation $holderType to Host Byte Array Transformer.
 * 
 * <code>${transformerType}</code> takes a $holderType
 * object as input, as well as a series of properties to create a byte array
 * in host format (EBCDIC) ready to be sent to a target Mainframe.
 * 
 * This class was generated by ${generatorName}.
 * Generated on $formattedDate
 */
public class ${transformerType} extends AbstractLegStarTransformer {

    /**
     * Constructs the transformer. Source is a $holderType object and
     * result will be a byte array.
     */
    public ${transformerType}() {
        registerSourceType(${holderType}.class);
        registerSourceType(LegStarMessage.class);
        setReturnClass(byte[].class);
    }

    /** {@inheritDoc} */
    public Object transform(
            final Object src,
            final String encoding,
            final UMOEventContext context) throws TransformerException {

        try {
            
            LegStarMessageToByteArray xformer = new LegStarMessageToByteArray();
            
            /* If this is already an architected message serialize it. */
            if (src instanceof LegStarMessage) {
                return xformer.transform(src, encoding, context);
            }
            
            /* Starting from here we are guaranteed to get an instance of the
             * expected object */
            ${holderType} srcObject = (${holderType}) src;
            
            /* Build a LegStar message */
            LegStarMessageImpl legstarMessage = getLegStarMessage(
                    context.getMessage());
           
#foreach($cixsStructure in $cixsStructures)
#set($hostByteSize = ${cixsHelper.getByteLength(${cixsStructure.jaxbPackageName}, ${cixsStructure.jaxbType})})
#if($cixsStructure.cicsContainer)
            legstarMessage.addMessagePart(
                    new ${cixsStructure.coxbType}(srcObject.get${cixsStructure.jaxbPropertyName}()),
                    ${hostByteSize}, getHostCharset(), "${cixsStructure.cicsContainer}");
#else
            legstarMessage.addMessagePart(
                    new ${cixsStructure.coxbType}(srcObject),
                    ${hostByteSize}, getHostCharset(), null);
#end
#end
            
            /* Serialize the LegStar message to a byte array */
            return xformer.transform(legstarMessage, encoding, context);
            
        } catch (HostMessageFormatException e) {
            throw new TransformerException(
                    LegstarMessages.errorFormattingHostData(), this, e);
        }
    }

}
