##/////////////////////////////////////////////////////////////////////
##Mule Component proxy configuration XML Template.
##@author Fady
##@version 0.1
##/////////////////////////////////////////////////////////////////////
#if($sampleConfigurationTransport == "http")
#set($sampleConfigurationTransportComment = "HTTP")
#end
#if($sampleConfigurationTransport == "wmq")
#set($sampleConfigurationTransportComment = "JMS/WebSphere MQ")
#end
<?xml version="1.0" encoding="UTF-8"?>
<!--
    This Mule configuration implements a proxy service for a mainframe program.
    Transport from mainframe to proxy is ${sampleConfigurationTransportComment}.
-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"
        xmlns:legstar="http://www.mulesoft.org/schema/mule/legstar"
#if($sampleConfigurationTransport == "wmq")
        xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
#end
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.0/mule.xsd
        http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/3.0/mule-tcp.xsd
#if($sampleConfigurationTransport == "wmq")
        http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.0/mule-jms.xsd
#end
        http://www.mulesoft.org/schema/mule/legstar http://www.legsem.com/legstar/xml/mule-legstar-3.0.xsd">

    <description>Mule configuration file for ${muleComponent.name} proxy service</description>

#if($sampleConfigurationTransport == "wmq")
    <jms:connector name="jmsJndiConnector"
        jndiInitialFactory="${wmqJndiContextFactory}"
        jndiProviderUrl="${wmqJndiUrl}"
        connectionFactoryJndiName="${wmqConnectionFactory}"
        specification="1.1"
        jndiDestinations="true"
        forceJndiDestinations="true"
        disableTemporaryReplyToDestinations="true"
        numberOfConsumers="1" />
#end

#if($sampleConfigurationTransport == "http")
    <legstar:endpoint name="MainframeRequestEndpoint" exchange-pattern="request-response"
        address="${legstarHttpAddress}" />
#end
#if($sampleConfigurationTransport == "wmq")
    <jms:endpoint name="MainframeRequestEndpoint" exchange-pattern="request-response"
         queue="${wmqRequestQueue}" />
#end

    <model name="${muleComponent.name}Model">

#foreach ($cixsOperation in $muleComponent.cixsOperations)
#set($operationPackageName = ${cixsOperation.packageName})
#set($requestTransformer = "HostTo${cixsOperation.requestHolderType}MuleTransformer")
#set($responseTransformer = "${cixsOperation.responseHolderType}ToHostMuleTransformer")
#set($qualRequestTransformer = ${helper.getQualClassName($operationPackageName, $requestTransformer)})
#set($qualResponseTransformer = ${helper.getQualClassName($operationPackageName, $responseTransformer)})
        <service name="${cixsOperation.name}ProxyService">
            <inbound>
                <inbound-endpoint ref="MainframeRequestEndpoint">
#if($sampleConfigurationTransport == "wmq")
                    <jms:jmsmessage-to-object-transformer />
#end
                    <legstar:host-to-java-transformer
                        class="${qualRequestTransformer}" />
                    <response>
                        <legstar:java-to-host-transformer
                            class="${qualResponseTransformer}" />
#if($sampleConfigurationTransport == "wmq")
                        <message-properties-transformer>
                            <add-message-property key="JMS_IBM_MsgType" value="2"/>
                        </message-properties-transformer>
                        <jms:object-to-jmsmessage-transformer />
#end
                    </response>
                </inbound-endpoint>
            </inbound>
            <component class="${umoComponentImplementationName}"/>
        </service>
#end

    </model>
</mule>
