##/////////////////////////////////////////////////////////////////////
##Mule Component standalone configuration XML Template.
##@author Fady
##@version 0.1
##/////////////////////////////////////////////////////////////////////
<?xml version="1.0" encoding="UTF-8"?>
<!--  This Mule configuration implements adapter services for mainframe programs.
      Transport from services to mainframe is HTTP.
 -->
<mule xmlns="http://www.mulesource.org/schema/mule/core/2.2"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:spring="http://www.springframework.org/schema/beans"
        xmlns:tcp="http://www.mulesource.org/schema/mule/tcp/2.2"
        xmlns:legstar-http="http://www.mulesource.org/schema/mule/legstar/http/2.2"
        xmlns:test="http://www.mulesource.org/schema/mule/test/2.2"
    xsi:schemaLocation=
        "http://www.mulesource.org/schema/mule/core/2.2 http://www.mulesource.org/schema/mule/core/2.2/mule.xsd
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.mulesource.org/schema/mule/tcp/2.2 http://www.mulesource.org/schema/mule/tcp/2.2/mule-tcp.xsd
         http://www.mulesource.org/schema/mule/legstar/http/2.2 http://www.legsem.com/legstar/xml/mule-legstar-http-1.0.xsd
         http://www.mulesource.org/schema/mule/test/2.2 http://www.mulesource.org/schema/mule/test/2.2/mule-test.xsd">

    <description>Mule configuration file for ${muleComponent.name} adapter services</description>

    <byte-array-to-object-transformer name="ByteArrayToObject"/>

    <model name="${muleComponent.name}Model">

#foreach ($cixsOperation in $muleComponent.cixsOperations)
#set($operationPackageName = ${cixsOperation.packageName})
#set($requestTransformer = "${cixsOperation.requestHolderType}ToHostByteArray")
#set($responseTransformer = "HostByteArrayTo${cixsOperation.responseHolderType}")
#set($qualRequestTransformer = ${helper.getQualClassName($operationPackageName, $requestTransformer)})
#set($qualResponseTransformer = ${helper.getQualClassName($operationPackageName, $responseTransformer)})
        <service name="${cixsOperation.name}AdapterService">
            <inbound>
                <tcp:inbound-endpoint
                    address="tcp://localhost:3213"
                    transformer-refs="ByteArrayToObject"
                    synchronous="true">
                </tcp:inbound-endpoint>
            </inbound>
            <outbound>
                <pass-through-router>
                  <legstar-http:outbound-endpoint
                    address="${hostURI}"
                    synchronous="true"
                    hostCharset="${hostCharset}"
                    programPropFileName="${cixsOperation.cicsProgramName.toLowerCase()}.properties"
                    hostTraceMode="false">
                    <transformers>
                        <custom-transformer
                            class="${qualRequestTransformer}" />
                    </transformers>
                    <response-transformers>
                        <custom-transformer
                            class="${qualResponseTransformer}" />
                    </response-transformers>
                  </legstar-http:outbound-endpoint>
                </pass-through-router>
            </outbound>
        </service>
#end

    </model>
</mule>