<?xml version="1.0" encoding="UTF-8"?>
    <!--
        This Mule configuration implements a proxy service for a
        mainframe program. Transport from mainframe to service is WMQ/JMS.
    -->
<mule xmlns="http://www.mulesource.org/schema/mule/core/2.2"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:jms="http://www.mulesource.org/schema/mule/jms/2.2"
    xmlns:legstar="http://www.mulesource.org/schema/mule/legstar/2.2"
    xmlns:test="http://www.mulesource.org/schema/mule/test/2.2"
    xsi:schemaLocation="http://www.mulesource.org/schema/mule/core/2.2 http://www.mulesource.org/schema/mule/core/2.2/mule.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.mulesource.org/schema/mule/tcp/2.2 http://www.mulesource.org/schema/mule/tcp/2.2/mule-tcp.xsd
        http://www.mulesource.org/schema/mule/jms/2.2 http://www.mulesource.org/schema/mule/jms/2.2/mule-jms.xsd
        http://www.mulesource.org/schema/mule/legstar/2.2 http://www.legsem.com/legstar/xml/mule-legstar-1.0.xsd
        http://www.mulesource.org/schema/mule/test/2.2 http://www.mulesource.org/schema/mule/test/2.2/mule-test.xsd">

    <description>Mule configuration file for ${muleComponent.name} proxy service</description>

    <jms:connector name="jmsJndiConnector"
        jndiInitialFactory="${wmqJndiContextFactory}"
        jndiProviderUrl="${wmqJndiUrl}"
        connectionFactoryJndiName="${wmqConnectionFactory}"
        specification="1.1"
        jndiDestinations="true"
        forceJndiDestinations="true"
        disableTemporaryReplyToDestinations="true"
        numberOfConsumers="1" />

    <jms:endpoint queue="${wmqRequestQueue}" name="MainframeRequestEndpoint"
        synchronous="false" />
    <jms:endpoint queue="${wmqReplyQueue}" name="MainframeReplyEndpoint"
        synchronous="false" />

#foreach ($cixsOperation in $muleComponent.cixsOperations)
#set($operationPackageName = ${cixsOperation.packageName})
#set($requestTransformer = "HostTo${cixsOperation.requestHolderType}MuleTransformer")
#set($responseTransformer = "${cixsOperation.responseHolderType}ToHostMuleTransformer")
#set($qualRequestTransformer = ${helper.getQualClassName($operationPackageName, $requestTransformer)})
#set($qualResponseTransformer = ${helper.getQualClassName($operationPackageName, $responseTransformer)})
    <model name="${muleComponent.name}Model">

        <service name="${cixsOperation.name}ProxyService">
            <inbound>
                <inbound-endpoint ref="MainframeRequestEndpoint">
                    <transformers>
                        <jms:jmsmessage-to-object-transformer />
                        <legstar:host-to-java-transformer
                            class="${qualRequestTransformer}" />
                    </transformers>
                </inbound-endpoint>
            </inbound>
            <component class="${umoComponentImplementationName}" />
            <outbound>
                <pass-through-router>
                    <outbound-endpoint ref="MainframeReplyEndpoint">
                        <transformers>
                            <legstar:java-to-host-transformer
                                class="${qualResponseTransformer}" />
                            <jms:object-to-jmsmessage-transformer />
                        </transformers>
                    </outbound-endpoint>
                </pass-through-router>
            </outbound>
        </service>
#end

    </model>
</mule>
