##/////////////////////////////////////////////////////////////////////
##Mule Component build and deploy Template.
##@author Fady
##@version 0.1
##/////////////////////////////////////////////////////////////////////
#set($jarFile = "${targetDistDir}/legstar-${muleComponent.name}.jar")
## ==================================================================
## Macro will help make sure we process packages only once
## ==================================================================
#macro(addPackage $list, $newPackage)
#if (!$list.contains($newPackage))
#set($ret = $list.add($newPackage))
#end
#end
## ==================================================================
## Create lists of unique jaxb,coxb,cust package names
## ==================================================================
#macro(addPackages $structures, $jaxbPackages, $coxbPackages, $custPackages)
#foreach($structure in $structures)
#set($newPackage = ${structure.jaxbPackageName})
#addPackage($jaxbPackages, $newPackage)
#set($newPackage = ${structure.coxbPackageName})
#addPackage($coxbPackages, $newPackage)
#if(${structure.custPackageName})
#set($newPackage = ${structure.custPackageName})
#addPackage($custPackages, $newPackage)
#end
#end
#end
## ==================================================================
## Create a list of unique jaxb,coxb,cust package names
## ==================================================================
#set($jaxbPackages = [])
#set($coxbPackages = [])
#set($custPackages = [])
#foreach ($cixsOperation in $muleComponent.cixsOperations)
#addPackages($cixsOperation.getInput(), $jaxbPackages, $coxbPackages, $custPackages)
#addPackages($cixsOperation.getOutput(), $jaxbPackages, $coxbPackages, $custPackages)
#end
<?xml version="1.0" encoding="UTF-8"?>
<!-- =================================================================================
     Create an jar archive for a legstar component.
  -->
<project basedir="${generateBaseDir}" default="create-jar" name="build-jar">

    <target name="clean">
        <delete file="${jarFile}" includeEmptyDirs="true" quiet="true"/>
    </target>

   <target name="create-jar" depends="clean">
        <mkdir dir="${targetDistDir}"/>
        <jar destfile="${jarFile}">
            <!-- Generated Mule component binaries -->
            <fileset dir="${targetBinDir}">
                <include name="${muleComponent.packageName.replace(".","/")}/*.class"/>
            </fileset>
            <!-- JAXB binaries -->
#foreach ($jaxbPackage in $jaxbPackages)
            <fileset dir="${jaxbBinDir}"
                includes="${jaxbPackage.replace(".","/")}/*.class"/>
#end
            <!-- Binding binaries -->
#foreach ($coxbPackage in $coxbPackages)
            <fileset dir="${coxbBinDir}"
                includes="${coxbPackage.replace(".","/")}/*.class"/>
#end
#foreach ($custPackage in $custPackages)
            <!-- Custom binding binaries if they are external to the project -->
            <fileset dir="${custBinDir}"
                includes="${custPackage.replace(".","/")}/*.class"/>
#end
            <!-- Mule configuration file -->
            <fileset dir="${targetMuleConfigDir}">
                <include name="*.xml"/>
            </fileset>
        </jar>
    </target>
</project>